extends add-layout

block content
    div.container
        div.row
            div.col-lg-12
                h1=title
        div.row
            for article in articles
                div.col-lg-8.pt-3= article.title
                    
                


      

                
                            