doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    // Internal CSS
    link(rel='stylesheet', href='../stylesheets/user.css')
    link(rel='stylesheet', href='../stylesheets/style-global.css')
    // FOnts
    link(href='https://brick.a.ssl.fastly.net/Montserrat:300,400,500,600,700', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Black+Ops+One', rel='stylesheet')
    link(href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')
    title Hello, world!
body
    .container-fluid
        .row(style='background-color: rgba(32,58,69,1)')
            .col-xl-12
                nav.navbar.navbar-expand-lg.navbar-dark.hor-nav(style='background-color: transparent!important; padding-top: 0;')
                    a.navbar-brand(href='#')
                        .clearfix
                            .float-left.position-absolute.rounded.logo-icon-container
                                p.position-relative.p-0.m-0 B
                            .float-right(style='margin-left: 63px;')
                                p.p-0.m-0.text-uppercase(style='line-height: 100%; font-size: 14pt;') Braincuz
                                p.p-0.m-0.text-uppercase(style='line-height: 100%; font-size: 6pt;') Leading-Crypto News
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto
                            li.nav-item.dropdown.active
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Link 1&nbsp;
                                .dropdown-menu.dropdown-md(aria-labelledby='navbarDropdownMenuLink')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.dropdown
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Link 2&nbsp;
                                .dropdown-menu.dropdown-md(aria-labelledby='navbarDropdownMenuLink')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item.dropdown
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Gerrit Hillebrecht&nbsp;
                                .dropdown-menu.dropdown-menu-right.dropdown-md.last-dropdown(aria-labelledby='navbarDropdownMenuLink')
                                    a.dropdown-item(href='#') Action
                                    a.dropdown-item(href='#') Another action
                                    a.dropdown-item(href='#') Something else here
                            li.nav-item
                                a.nav-link(href='#', style='padding-right: 0!important')
                                    .rounded-circle.image-frame(style='height: 48px; width: 48px; margin-top: -12px; background-position: 55% center; background-size: auto 100%; background-image: url(https://static1.squarespace.com/static/59f70acff9a61eb21a4bca9c/59f724f124a694055a7d29ba/59f72b690d9297f9ed7cb2fd/1509371108911/bewerbungsfoto-professionell-berlin-fotograf-portrait-business-02.jpg?format=2500w)')
        .row(style='background-color: rgba(32,58,69,1); padding: 15px; color: #fff;')
            .col
                h1 Dashboard
                h6 Statistics
            .col-lg-4
                .input-group.mb-3
                    input.user-input-search(type='text', placeholder='Search for Anything')
        block content
            
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
    
        script().

           //jQuery(document).ready(function () {
           //     $(function () {
           //         $('[data-toggle="tooltip"]').tooltip()
           //     });
           // });



